footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 8px;
  width: 100%;
  background-color: #5B5B5C;
  color: white;
  text-align: center;
}

.profile {
  max-width: 350px;
}

.social img {
  margin: 0 15px 0 0;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home {
  margin-top: 60px;
}

h1.intro {
  text-align: center;
}

span.intro {
  font-weight: 300;
}

.navbuttons {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 400px;
}

.heading {
  padding: 5px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #E8E8E8;
}

.heading .icon {
  float: left;
}

.heading img {
  max-width: 72px;
  border-radius: 20px;
  margin-right: 10px;
}

.heading .breadcrumb {
  background-color: inherit;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.7em;
  margin-bottom: inherit;
  padding-left: 0;
}

.cleafix {
  clear: both;
}

.content {
  margin-top: 20px;

}

.card {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.card img {
  width: 100%;
}

.card h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0;
}

.card p, .card ul {
  list-style-type: circle;
  font-weight: 300;
}

.card li:last-child {
  margin-bottom: 30px;
}

.card a {
  text-align: center;
}

@media screen and (max-width:480px) {
  footer {
    padding: 5px 5px 7px;
  }

  .social img {
    margin: 0 8px 0 0;
    width: 16px;
  }

  .profile {
    max-width: 300px;
  }

  .navbuttons {
    margin-top: 40px;
    width: 300px;
  }

  .navbuttons a {
    font-size: 14px !important;
    padding: 6px 12px !important;
  }

  h1.intro {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
  }

  span.intro {
    font-size: 28px;
    font-weight: 100;
  }

  .heading img {
    max-width: 58px;
    border-radius: 12px;
    margin-right: 6px;
  }

  .heading .breadcrumb {
    font-size: 24px;
    font-weight: 200;
    line-height: 1.9em;
    padding-bottom: 4px;
  }

}
